*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame span{
    cursor: pointer;
    font-size: 3vw;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vw;
    text-align: center;
    padding: 0 5vw;
}

.frame{
    height: 5vw;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

#circle{
    z-index: 1;
    width: 2vw;
    height: 2vw;
    background-color: rgb(72, 18, 137);
    position: absolute;
    transform: translate(-50%);
    border-radius: 50%;
    top: 0;
    left: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
    pointer-events: none;
}

#frames{
    display: flex;
    gap: 20px;
}
